<!--Included in /config/Dashboard.config-->
<div ng-controller="Cloudflare.Dashboard.Controller as cloudflareDashboardController" class="umbracoflare umb-scrollable">
    <div class="cloudflare-config">
        <h2>Status Cloudflare Account: <span ng-show="cloudflareDashboardController.dashboard.credentialsAreValid" class="-green">Associated <i class="fa fa-icon-remove-sign fa-lg active"></i></span><span ng-show="!cloudflareDashboardController.dashboard.credentialsAreValid" class="-red">Not Associated <i class="fa fa-icon-ok-circle fa-lg inactive"></i></span></h2>
        <hr />
        <div class="row-fluid">
            <div class="span3">
                <div class="cloudflare-config cloudflare-account">
                    <p>This is the master control to turn off the cloudflare controls in Umbraco. This includes purging on publish, from the context menu and from the dashboard.</p>
                    <div class="config-group">
                        <label>Api Key </label>
                        <input type="text" class="apikey-input" ng-model="cloudflareDashboardController.dashboard.currentApiKey" />
                    </div>
                    <div class="config-group">
                        <label>Account Email </label>
                        <input type="text" ng-model="cloudflareDashboardController.dashboard.currentAccountEmail" />
                    </div>
                    <div class="config-group position-relative">
                        <div class="icon-check umb-button__success" ng-class="{'-hidden': !cloudflareDashboardController.dashboard.updatedCredentials}"></div>
                        <div class="umb-button__progress" ng-class="{'-hidden': !cloudflareDashboardController.dashboard.updatingCredentials}"></div>
                        <button class="btn btn-success" ng-disabled="cloudflareDashboardController.dashboard.updatingCredentials" ng-click="cloudflareDashboardController.dashboard.UpdateCredentials(false)">Update Credentials</button>
                    </div>
                </div>

                <div class="cloudflare-config cloudflare-auto-purge">
                    <p>By turning Auto-Purge ON, CloudFlare will automatically purge the servers' cache every time you save/publish a page or media type.</p>
                    <div class="toggle-container">
                        <span>CloudFlare Auto-Purge</span>
                        <div class="toggle-switch" ng-class="{'disable-toggle-switch' : cloudflareDashboardController.dashboard.updatingAutoPurge}">
                            <div ng-click="cloudflareDashboardController.dashboard.togglePurgeCacheOn()" ng-class="{'-background-bright-green' : cloudflareDashboardController.dashboard.currentPurgeCacheOn, 'pointer-events': cloudflareDashboardController.dashboard.updatingAutoPurge}" class="-float-left toggle-button">
                                <div class="toggle-label">ON</div>
                            </div>
                            <div ng-click="cloudflareDashboardController.dashboard.togglePurgeCacheOn()" ng-class="{'-background-red' : !cloudflareDashboardController.dashboard.currentPurgeCacheOn, 'pointer-events': cloudflareDashboardController.dashboard.updatingAutoPurge}" class="-float-right toggle-button">
                                <div class="toggle-label">OFF</div>
                            </div>
                            <div class="icon-check umb-button__success" ng-class="{'-hidden': !cloudflareDashboardController.dashboard.updatedAutoPurge}"></div>
                            <div class="umb-button__progress" ng-class="{'-hidden': !cloudflareDashboardController.dashboard.updatingAutoPurge}"></div>
                        </div>
                    </div>
                    <p>
                        Notes: 
                        <br />
                        <br />
                        -You can still manually choose NOT to purge cache upon Save/Publish at the page content level. <a class="umbraco-help" ng-click="cloudflareDashboardController.dashboard.openModal('choosingNotToPurge')"><i class=" -black fa fa-question-circle fa-lg"></i></a>
                        <br />
                        <br />
                        -You can also manually purge pages through the UmbracoFlare dashboard or by right clicking a node and choosing option from the menu. <a class="umbraco-help" ng-click="cloudflareDashboardController.dashboard.openModal('manualPurgingANode')"><i class=" -black fa fa-question-circle fa-lg"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-class="{'-grey-out' : !cloudflareDashboardController.dashboard.credentialsAreValid}">

        <div class="manual-purge-container">
            <h2>Purge Options</h2>
            <hr />
            <div class="row-fluid">
                <div class="span3">
                    <h3>Site Purge</h3>
                    <p>Purge everything on your site. This will take a while depending on your site and servers.</p>
                    <button ng-disabled='!cloudflareDashboardController.dashboard.credentialsAreValid' class="btn btn-success" ng-click="cloudflareDashboardController.dashboard.purgeSite()">Purge Site</button>
                </div>

                <div class="span3 offset1">
                    <h3>Pick Files</h3>
                    <p>
                        Add individual files by selecting them from the picker below.
                        Add individual files by selecting them from the picker below.
                        Multiple files can added for purging together.
                    </p>
                    <br />

                    <div class="file-system-picker-control pull-right">
                        <div class="umb-editor">
                            <ul class="unstyled" ng-show="cloudflareDashboardController.dashboard.selectedFiles.length !== 0">
                                <li ng-repeat="selectedFile in cloudflareDashboardController.dashboard.selectedFiles">
                                    <a href="#" prevent-default ng-click="cloudflareDashboardController.dashboard.removeSelectedValues(selectedFile)">
                                        <i class="icon icon-delete red"></i> {{selectedFile}}
                                    </a>
                                </li>
                            </ul>
                            <ul class="unstyled list-icons" ng-show="cloudflareDashboardController.dashboard.selectedFiles.length === 0">
                                <li>
                                    <i class="icon icon-add blue"></i>
                                    <a href="#" ng-click="cloudflareDashboardController.dashboard.openFilePicker()" prevent-default>
                                        <localize key="general_add">Add</localize>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="button-container pull-left">
                        <div class="icon-check umb-button__success status-indicator" ng-class="{'-hidden': cloudflareDashboardController.dashboard.state !== cloudflareDashboardController.dashboard.purgeStaticSuccess}"></div>
                        <div class="umb-button__progress status-indicator" ng-class="{'-hidden': cloudflareDashboardController.dashboard.state !== cloudflareDashboardController.dashboard.purgeStaticBusy}"></div>
                        <button class="btn btn-success -float-right" ng-disabled='!cloudflareDashboardController.dashboard.credentialsAreValid || cloudflareDashboardController.dashboard.state === cloudflareDashboardController.dashboard.purgeStaticBusy || cloudflareDashboardController.dashboard.selectedFiles.length === 0'
                                ng-click="cloudflareDashboardController.dashboard.purgeStaticFiles(cloudflareDashboardController.dashboard.selectedFiles)">
                            Purge Static Files
                        </button>
                    </div>
                </div>

                <div class="span3 offset1">
                    <form ng-disabled='!cloudflareDashboardController.dashboard.credentialsAreValid' name="listUrls">
                        <h3>Purge By Url</h3>
                        <p>
                            URLs must be relative and begin with a / and should not include
                            the domain. You will have an opportunity to choose domains.
                        </p>
                        <span>Example: /products/umbracoflare/dashboard.</span>
                        <input-adder class="input-adder" ng-model="cloudflareDashboardController.dashboard.urls" state="cloudflareDashboardController.dashboard.state" on-submit="cloudflareDashboardController.dashboard.purgeUrls(collection)"></input-adder>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div bn-modals ng-show="subview" class="m-modals umbracoflare" ng-switch="subview">
    <!-- BEGIN: CHOOSING NOT TO PURGE Modal. -->
    <div ng-switch-when="choosingNotToPurge"
         ng-controller="InfoModalController"
         class="umbracoflare-modal">

        <span class="close" ng-click="close()"><i class="fa fa-times fa-lg"></i></span>
        <h2>Choosing NOT to purge</h2>

        <span>Click this button at the bottom of the page to disable purging the cache when saving/publishing</span> <br />

        <br />
        <img alt="How to disable on publish." src="/App_Plugins/UmbracoFlare/Assets/Media/Disable-purge.jpg" />
        <br />
        <br />
        <span>Please refer to the <a href="https://github.com/scyllagroup/UmbracoFlare" target="_blank" title="GitHub repo">GitHub readme</a> for documentation on how to disable the cache when saving/publishing.</span>
    </div>
    <!-- END: CHOOSING NOT TO PURGE Modal. -->
    <!-- BEGIN: MANUAL PURGING Modal. -->
    <div ng-switch-when="manualPurgingANode"
         ng-controller="InfoModalController"
         class="umbracoflare-modal">

        <span class="close" ng-click="close()"><i class="fa fa-times fa-lg"></i></span>
        <h2>Manual Purging A Node</h2>

        <span>1) Right-click the folder or node you wish to purge the cache for.</span> <br />
        <span>2) Choose "Purge CloudFlare Cache".</span>
        <br />
        <img alt="Purge context menu" src="/App_Plugins/UmbracoFlare/Assets/Media/manual-purge-1.jpg" />
        <!-- This is to demonstrate that we can jump from one modal to another. -->
        <br />
        <br />
        <span>3)Confirm that "Purge Children" option is selected to purge all child pages associated with folder/page.</span><br />
        <span>4)Press "Purge Cache".</span> <br />
        <br />
        <img alt="Purge cache button." src="/App_Plugins/UmbracoFlare/Assets/Media/manual-purge-2.jpg" />
    </div>
    <!-- END: MANUAL PURGING Modal. -->
    <!-- BEGIN: confirmModal -->
    <div ng-switch-when="confirmModal" ng-controller="ConfirmModalController" class="umbracoflare-modal">

        <span class="close" ng-click="close()"><i class="fa fa-times fa-lg"></i></span>
        <h2>Purge Entire Site?</h2>

        <span>Are you sure you want to purge the entire site? The server might take a performance hit while Cloudflare rebuilds your cache.</span> <br />
        <br />
        <div class="pull-right">
            <a href="#" class="btn btn-link" ng-click="close()" prevent-default>Cancel</a>
        </div>
        <div>
            <a href="#" class="btn btn-success" style="color:white;" ng-click="yes()" prevent-default>Yes, purge it.</a>
        </div>
    </div>
    <!-- END: confirmModal -->
</div>