<!--Included in /config/Dashboard.config-->
<div style="max-width: 1200px" ng-controller="Cloudflare.Configuration.Controller as configurationController" class="umbracoflare config-tab umb-scrollable">

    <div class="cloudflare-config cloudflare-account">
        <div class="header-container">
            <h2>1) CloudFlare&reg; Account: <span class="-green" ng-show="configurationController.configuration.credentialsAreValid ">Associated </span><span class="-red" ng-show="!configurationController.configuration.credentialsAreValid">Not Associated</span> </h2>
        </div>
        <hr />
        <div>
            <p>This is the master control to turn off the cloudflare controls in Umbraco. This includes purgin on publish, from the context menu and from the dashboard.</p>
            <div class="config-group">
                <label>Api Key </label>
                <input type="text" class="apikey-input" ng-model="configurationController.configuration.currentApiKey" />
            </div>
            <div class="config-group">
                <label>Account Email </label>
                <input type="text" ng-model="configurationController.configuration.currentAccountEmail" />
            </div>
            <div class="config-group position-relative">
                <div class="icon-check umb-button__success" ng-class="{'-hidden': !configurationController.configuration.updatedCredentials}"></div>
                <div class="umb-button__progress" ng-class="{'-hidden': !configurationController.configuration.updatingCredentials}"></div>
                <button class="btn btn-success" ng-disabled="configurationController.configuration.updatingCredentials" ng-click="configurationController.configuration.UpdateCredentials(false)">Update Credentials</button>
            </div>
            <br />
        </div>
    </div>

    <div class="cloudflare-config cloudflare-auto-purge">
        <div class="header-container">
            <h2>2) UmbracoFlare&trade; Auto-Purge</h2>
        </div>
        <hr />
        <div>
            <p>By turning Auto-Purge ON, CloudFlare will automatically purge the servers’ cache everytime you save/publish a page or media type.</p>
            <div class="toggle-container">
                <span>CloudFlare Auto-Purge</span>
                <div class="toggle-switch" ng-class="{'disable-toggle-switch' : configurationController.configuration.updatingAutoPurge}">
                    <div ng-click="configurationController.configuration.togglePurgeCacheOn()" ng-class="{'-background-bright-green' : configurationController.configuration.currentPurgeCacheOn, 'pointer-events': configurationController.configuration.updatingAutoPurge}" class="-float-left toggle-button"><div class="toggle-label">ON</div></div>
                    <div ng-click="configurationController.configuration.togglePurgeCacheOn()" ng-class="{'-background-red' : !configurationController.configuration.currentPurgeCacheOn, 'pointer-events': configurationController.configuration.updatingAutoPurge}" class="-float-right toggle-button"><div class="toggle-label">OFF</div></div>
                    <div class="icon-check umb-button__success" ng-class="{'-hidden': !configurationController.configuration.updatedAutoPurge}"></div>
                    <div class="umb-button__progress" ng-class="{'-hidden': !configurationController.configuration.updatingAutoPurge}"></div>
                </div>
            </div>
            <p>
                Notes: <br />
                -You can still manually choose NOT to purge cache upon Save/Publish at the page content level. <a class="umbraco-help" ng-click="configurationController.configuration.openModal('choosingNotToPurge')"><i class=" -black fa fa-question-circle fa-lg"></i></a> <br />
                -You can also manually purge pages through the UmbracoFlare dashboard or by right clicking a node and choosing option from the menu. <a class="umbraco-help" ng-click="configurationController.configuration.openModal('manualPurgingANode')"><i class=" -black fa fa-question-circle fa-lg"></i></a>
            </p>
        </div>
    </div>
</div>

<div bn-modals ng-show="subview" class="m-modals umbracoflare" ng-switch="subview">
    <!-- BEGIN: CHOOSING NOT TO PURGE Modal. -->
    <div ng-switch-when="choosingNotToPurge"
         ng-controller="InfoModalController"
         class="umbracoflare-modal">

        <span class="close" ng-click="close()"><i class="fa fa-times fa-lg"></i></span>
        <h2>Choosing NOT to purge</h2>

        <span>Click this button at the bottom of the page to disable purging the cache when saving/publishing</span> <br />

        <br />
        <img alt="How to disable on publish." src="/App_Plugins/UmbracoFlare/Assets/Media/Disable-purge.jpg" />
        <br />
        <br />
        <span>Please refer to the <a href="https://github.com/scyllagroup/UmbracoFlare" target="_blank" title="GitHub repo">GitHub readme</a> for documentation on how to disable the cache when saving/publishing.</span>
    </div>
    <!-- END: CHOOSING NOT TO PURGE Modal. -->
    <!-- BEGIN: MANUAL PURGING Modal. -->
    <div ng-switch-when="manualPurgingANode"
         ng-controller="InfoModalController"
         class="umbracoflare-modal">

        <span class="close" ng-click="close()"><i class="fa fa-times fa-lg"></i></span>
        <h2>Manual Purging A Node</h2>

        <span>1) Right-click the folder or node you wish to purge the cache for.</span> <br />
        <span>2) Choose "Purge CloudFlare Cache".</span>
        <br />
        <img alt="Purge context menu" src="/App_Plugins/UmbracoFlare/Assets/Media/manual-purge-1.jpg" />
        <!-- This is to demonstrate that we can jump from one modal to another. -->
        <br />
        <br />
        <span>3)Confirm that "Purge Children" option is selected to purge all child pages associated with folder/page.</span><br />
        <span>4)Press "Purge Cache".</span> <br />
        <br />
        <img alt="Purge cache button." src="/App_Plugins/UmbracoFlare/Assets/Media/manual-purge-2.jpg" />
    </div>
    <!-- END: MANUAL PURGING Modal. -->
</div>