.umbracoflare .umbracoflareContainer {
    max-width: 840px;
    margin: auto;
    padding: 0 20px;
}

.umbracoflare .-color-red {
    color: #e92051;
}

.umbracoflare a {
    color: #e92051;
}

.umbracoflare .licenseContainer {
    margin-top: 1rem;
}

.umbracoflare .license {
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    height: 420px;
}

.umbracoflare .bs-callout {
    padding: 0 20px 20px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.umbracoflare .bs-callout-danger {
    border-left-color: #ce4844;
}

    .umbracoflare .bs-callout-danger h4 {
        color: #ce4844;
    }

.umbracoflare .bs-callout-success {
    border-left-color: #00FF58;
}

    .umbracoflare .bs-callout-success h4 {
        color: #00FF58;
    }

.umbracoflare .bs-callout ul {
    list-style: none;
    margin: 0;
}

.umbracoflare .bs-callout h4 {
    margin-top: 0;
}

.umbracoflare hr {
    margin: 5px 0;
    border: 1px solid #CCCCCC;
}

.umbracoflare .-red {
    color: #ce4844;
}

.umbracoflare .-black {
    color: black;
}

.umbracoflare h1 {
    font-weight: bold;
}

.umbracoflare .-green {
    color: #5cb85c;
}

.umbracoflare .button {
    border: none;
    padding: 5px 50px;
}

    .umbracoflare .button.-grey {
        background: #CCCCCC;
    }

    .umbracoflare .button.-red {
        color: white;
        background: #ce4844;
    }

    .umbracoflare .button.-light-green {
        background: #D9FFD9;
    }

.umbracoflare .-grey-out {
    opacity: .5;
    pointer-events: none;
}

    .umbracoflare .manual-purge-container .purge-static-files .umb-button__progress, .umbracoflare .manual-purge-container .purge-by-url .umb-button__progress {
        margin-left: 90px;
    }

    .umbracoflare .manual-purge-container .purge-static-files .icon-check, .umbracoflare .manual-purge-container .purge-by-url .umb-button__progress {
        margin-left: 100px;
    }

.umbracoflare .manual-purge-option {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    box-sizing: border-box;
}

.umbracoflare .-full-width {
    width: 100%;
}

.umbracoflare .-full-height {
    height: 100%;
}

.umbracoflare .-full-height-width {
    height: 100%;
    width: 100%;
}

.umbracoflare .-no-margin {
    margin: 0;
}

.umbracoflare .file-system-picker-control .list-icons li {
    padding: 0;
    max-width: unset;
}

.umbracoflare input {
    border: 1px solid black;
    border-radius: 0;
}

    .umbracoflare input[type=checkbox] {
        margin-top: 2px;
        float: left;
        margin-right: 10px;
    }

.umbracoflare.config-tab .config-group {
    margin: 20px 0;
}

.umbracoflare.config-tab .header-container h2 {
    width: 49%;
    display: inline-block;
}

.umbracoflare.config-tab .header-container .collapse-show {
    width: 49%;
    display: inline-block;
    text-align: right;
}

.umbracoflare .-text-left {
    text-align: left;
}

.umbracoflare .collapse-show-text {
    padding-right: 15px;
}

.umbracoflare input.input-adder-input {
    width: 57%;
}

.umbracoflare .-background-red {
    background: #ce4844;
}

.umbracoflare .-background-green {
    background: #5cb85c;
}

.umbracoflare .-background-bright-green {
    background: #53a93f;
}

.umbracoflare .-bright-green {
    color: #53a93f;
}

.umbracoflare .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.umbracoflare .clearfix {
    display: inline-block;
}

.umbracoflare .toggle-switch {
    height: 20px;
    width: 150px;
    border: 1px solid black;
    display: inline-block;
}

.umbracoflare .toggle-container {
    margin-top: 50px;
    margin-bottom: 10px;
}

    .umbracoflare .toggle-container > span {
        display: inline-block;
        float: left;
        padding-right: 50px;
    }

.umbracoflare .toggle-switch > .toggle-button {
    width: 50%;
    height: 100%;
    position: relative;
}

.umbracoflare .toggle-button {
    cursor: pointer;
}

.umbracoflare .toggle-label {
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    text-align: center;
}

.umbracoflare .-float-left {
    float: left;
}

.umbracoflare .-float-right {
    float: right;
}

.m-modals {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 9000;
}

.umbracoflare .umbracoflare-modal {
    z-index: 9999;
    position: fixed;
    left: 25%;
    width: auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    outline: 0;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    padding: 30px;
}

.umbracoflare .status-indicator {
    top: 15px;
    left: 60%;
}

.umbracoflare .status-indicator-purge-url {
    top: 5px;
    left: 70%;
}

.umbracoflare .button-container {
    position: relative;
}

.umbracoflare .umbracoflare-modal .close {
    cursor: pointer;
}

.umbracoflare .cc-logo-container {
    display: inline-block;
    float: left;
    width: 30%;
    padding-top: 20px;
}

.umbracoflare .share-alike-container {
    float: left;
    padding-left: 15px;
}

.umbracoflare .license-header {
    margin-bottom: 30px;
}

.umbracoflare .free-to-container {
    padding-top: 0;
}

.umbracoflare .not-free-to-container {
    padding-top: 0;
}

.umbracoflare .license-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.umbracoflare .support-container {
    text-align: center;
}

    .umbracoflare .support-container img {
        margin-bottom: 5px;
    }

    .umbracoflare .support-container li {
        text-align: left;
    }

.umbracoflare .purge-url-actions-container-1 {
    clear: none;
    display: flex;
    width: 100%;
    margin-top: 16px;
}

    .umbracoflare .purge-url-actions-container-1 .purge-url-buttons-container {
        position: relative;
        width: 30%;
    }

        .umbracoflare .purge-url-actions-container-1 .purge-url-buttons-container .icon-check {
            margin-left: 6px;
            margin-top: 10px;
        }

        .umbracoflare .purge-url-actions-container-1 .purge-url-buttons-container .umb-button__progress {
            margin-left: -2px;
            margin-top: 2px;
        }

        .umbracoflare .purge-url-actions-container-1 .purge-url-buttons-container .purge-url-button {
            margin: 0;
        }

    .umbracoflare .purge-url-actions-container-1 .add-url-container {
        width: 70%;
        float: right;
    }

        .umbracoflare .purge-url-actions-container-1 .add-url-container .input-adder-input {
            float: left;
            width: 70%;
        }

        .umbracoflare .purge-url-actions-container-1 .add-url-container .btn-success {
            margin-left: 10px;
        }

.umbracoflare .purge-url-actions-container-2 {
    margin-top: 20px;
}

    .umbracoflare .purge-url-actions-container-2 input {
        width: 79%;
    }

    .umbracoflare .purge-url-actions-container-2 button {
        float: right;
    }

.umbracoflare .online-support-container {
    display: inline-block;
    float: left;
}

.umbracoflare .contact-container {
    float: left;
    margin-left: 50px;
}

.umbracoflare h2 {
    font-size: 25px;
}

.umbracoflare .umbraco-help {
    cursor: pointer;
}

.cloudflare-account input {
    width: 100%;
}

.cloudflare-account .icon-check {
    left: 35%;
}

.cloudflare-account .umb-button__progress {
    left: 35%;
}

.purge-everything {
    margin-top: 40px;
}

.config-group {
    margin: 10px 0;
}

.config-on {
    color: white;
    background: green;
}

.config-off {
    color: white;
    background: red;
}

.cloudflare-config {
    height: 50%;
    margin-top: 30px;
}

    .cloudflare-config.cloudflare-account .umb-button__success {
        top: 33px;
        left: 179px;
    }

    .cloudflare-config.cloudflare-account .umb-button__progress {
        position: relative;
        left: 178px;
        top: 25px;
    }

.position-relative {
    position: relative;
}

.cloudflare-config.cloudflare-auto-purge {
    margin-top: 40px;
}

    .cloudflare-config.cloudflare-auto-purge .umb-button__success {
        position: relative;
        top: -3px;
        margin-left: 110px;
    }

    .cloudflare-config.cloudflare-auto-purge .umb-button__progress {
        position: relative;
        left: 173px;
        top: -32px;
    }

.site-purge .config-group {
    width: 25%
}

.site-purge .icon-check {
    margin-left: 60px;
}

.site-purge .umb-button__progress {
    margin-left: 50px;
}

i.active {
    color: #53a93f;
}

i.inactive {
    color: #d9534f;
}

.disable-toggle-switch {
    border: 1px solid gray;
    color: gray;
    cursor: no-drop;
}

.pointer-events {
    pointer-events: none;
}

.purge-menu .-hidden {
    display: none
}

.purge-menu input[type=checkbox] {
    margin-top: -53px;
    margin-left: -70px;
}

.purge-menu .purge-menu-success .btn-primary {
    margin-left: 4px;
}

.icon-umbracoflare-tiny::before {
    content: url('umbracoflare-black-18x20px.png');
    margin-left: -2px;
}

.domain-invalid-error {
    font-style: italic;
}