<?xml version="1.0" encoding="utf-8"?>
<cloudflare xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="cloudflare">
  <purgeCacheOn>false</purgeCacheOn>
  <apiKey></apiKey>
  <accountEmail></accountEmail>
  <credentialsAreValid>false</credentialsAreValid>
</cloudflare>