<?xml version="1.0" encoding="utf-8"?>
<cloudflare xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="cloudflare">
  <purgeCacheOn>true</purgeCacheOn>
  <apiKey>aa70aa81994a4245fb718ee41b7492105f366</apiKey>
  <accountEmail>aocampo.work@gmail.com</accountEmail>
  <credentialsAreValid>true</credentialsAreValid>
</cloudflare>