<div class="umb-panel" ng-controller="Cogworks.Umbracoflare.Filespicker.Controller as cogworksUmbracoflareFilespickerController">
    <div class="umb-panel-body no-header with-footer umb-scrollable">
        <umb-tree section="settings"
                  treealias="fileSystemTree"
                  on-init=""
                  eventhandler="dialogEventHandler"
                  hideoptions="true"
                  hideheader="true"
                  isdialog="true"
                  customtreeparams="startfolder=&amp;filter=properties&amp;files=true" />

        <!--<umb-tree section="settings"
                  treealias="cdnstatic"
                  hideheader="true"
                  hideoptions="true"
                  on-init=""
                  isdialog="true"
                  eventhandler="dialogTreeEventHandler"
                  customtreeparams="startfolder=-1">

        </umb-tree>-->
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href="#" ng-click="close()" class="btn btn-link" prevent-default>
                    <localize key="general_cancel">Cancel</localize>
                </a>
            </div>
            <div class="btn-toolbar umb-btn-toolbar">
                <a href="#" ng-click="cogworksUmbracoflareFilespickerController.filesPicker.selectFiles()" prevent-default class="btn btn-success btn-link">
                    <localize key="general_add">Add</localize>
                </a>
            </div>
        </div>
    </div>
</div>